html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    include ../style.pug
  body
    if !user.get('isInvalidVerificationLink')
      p このたびはHAIRLIEにご登録いただきまして、誠にありがとうございます。
      p 下記のURLよりメールアドレスの認証をお願い致します。
      a(href=link) #{link}
    else
      p 下記のURLよりメールアドレスの再認証をお願い致します。
      a(href=link) #{link}
    br
    br
    p ご不明な点やご質問などございましたら、お気軽にお問い合せください。
    include ../footer.pug