html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    include ../style.pug
  body
    p HAIRLIEの会員退会手続きが完了しました。
    br
    p お客様のアカウント情報は、会員退会手続きから30日間は保留されます。
    p 30日以内に再度ログインしてアカウント削除プロセスを停止しすると、アカウントが復活され再度ご利用いただけます。
    p 30日以降を過ぎますと、すべてのデータが自動的に完全に削除され、アカウントへアクセスできなくなりますのでご注意ください。
    p データをすぐに削除したい場合は、再度ログインして画面の案内に基づいて操作してください。
    br
    p これまでにHAIRLIEをご利用いただきまして、誠にありがとうございました。
    p またのご利用をお待ちしております。
    br
    p ご不明な点やご質問などございましたら、お気軽にお問い合せください。
    include ../footer.pug
