html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    include ../style.pug
  body
    p HAIRLIEの会員アカウントが完全に削除されました。
    br
    p お客様のアカウントに付属するすべてのデータが完全に削除されました。
    p 今後は削除されたアカウントへのアクセス、またはアカウントを復活させることはできません。
    p 削除されたアカウントに登録したメールアドレスを利用して新しいアカウントを登録するとまたサービスを利用することができます。
    br
    p これまでにHAIRLIEをご利用いただきまして、誠にありがとうございました。
    p またのご利用をお待ちしております。
    br
    p ご不明な点やご質問などございましたら、お気軽にお問い合せください。
    include ../footer.pug
