br
div ※本メールは配信専用となります。
div このメールに返信いただいても、返信内容の確認およびご返答はできません。あらかじめご了承ください。
div ※本メールに心当たりの無い場合は、誠に恐れ入りますが破棄していただきますよう、よろしくお願い致します。
br  
div 
  span  ご不明な点やご質問などございましたら、
  a(href="https://hairlie.jp/faqs") ガイド(Q&A)
  span  をご確認いただくか、それでも解決しない場合はウェブまたはアプリ内のお問い合わせからご連絡ください。
br
div #{'□□□───────────────────────────────'}
div 株式会社Hairlie
div HAIRLIE カスタマーサポート
div(class='margin-left-footer') 〒150-0001　東京都渋谷区神宮前6-33-7ヒルサイドテラス202
div(class='margin-left-footer')
  span Email:
  span
    a(href="mailto:info@hairlie.co.jp") info@hairlie.co.jp
div(class='margin-left-footer')
  span URL:
  span
    a(href="https://hairlie.jp") https://hairlie.jp
div #{'────────────────────────────────□□□'}
