doctype html
html
  head
    title Hairlie | Invalid link
    meta(name="robots" content="noindex")
    meta(name="googlebot" content="noindex")
    style(type="text/css").
      body {
        background: #d2d6de;
      }
      .container {
        width: 400px;
        margin: 5% auto;
        padding: 0;
        text-align: center;
      }
      .container-body {
        background: #fff;
        padding: 20px;
        border-top: 0;
        color: #666;
      }
      .logo {
        margin-bottom: 20px;
      }
      h1 {
        font-size: 1.6em;
        margin: 5px 0;
      }
  body
    .container
      .logo
        img(src="/public/img/logo.png" alt="Hairlie Logo")
      .container-body
        h1 Error: You access expired link!
