doctype html
html(lang="ja")
  head
    title Hairlie | Updated password successfully
    meta(name="robots" content="noindex")
    meta(name="googlebot" content="noindex")
    style(type="text/css").
      body {
        background: #d2d6de;
      }
      .change-pass-box {
        width: 400px;
        margin: 5% auto;
        padding: 0;
        text-align: center;
      }
      .change-pass-box-body {
        background: #fff;
        padding: 20px;
        border-top: 0;
        color: #666;
      }
      .logo {
        margin-bottom: 20px;
      }
      h1 {
        font-size: 1.6em;
        margin: 5px 0;
      }
  body
    .change-pass-box
      .logo
        img(src="/public/img/logo.png" alt="Hairlie Logo")
      .change-pass-box-body
        h1
          | ログインID 「
          b=username
          | 」 新しいパスワードの設定が完了しました
