html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    include ../style.pug
  body
    p HAIRLIEの会員アカウントが復活しました。
    br
    p アカウント削除のプロセスが停止され元の状態に復活しました。
    p このままアプリに再度ログインしHAIRLIEをご利用ください。
    br
    p ご不明な点やご質問などございましたら、お気軽にお問い合せください。
    include ../footer.pug
